@import '../../../../assets/assets.scss';

.text{
    display: flex;
    flex-direction: column;
    color: $primary-color;
    &>textarea{
        border: 1px solid lightblue;
        border-radius: 5px;
        resize: none;
        width: 300px;
        height: 250px;
        font-family: $font-primary;
        color: $primary-color;
        outline: none;
        background-color: $secondary-color;
    }
}
@media only screen and (max-width: 450px){
    .text{
        &>textarea{
            width: 200px;
        }
    }
}