@import '../../../assets/assets.scss';

.ux{
    height: 100vh;
    width: 66vw;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
    background-color: lightblue;
    top: 0;
    right: -66vw;
    &__top{
        font-family: $font-primary;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 19vw);
        justify-content: center;
        align-items: center;
        height: fit-content;
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 1112px){
    .ux{
        &__content{
            display: grid;
            grid-template-columns: repeat(2, 33vw);
            // justify-content: center;
            // align-items: center;
            overflow-y: hidden;
        }
    }
}
@media only screen and (max-width: 827px){
    .ux{
        &__content{
            display: grid;
            grid-template-columns: repeat(1, 33vw);
            // justify-content: center;
            // align-items: center;

            overflow-y: hidden;
        }
    }
}