@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$font-primary: 'Poppins', sans-serif;
$text-color:#388087;
$card-color:#6FB3B8;
$hf-color:#388087;
$deep-color: #26474E;

$primary-color: teal;
$secondary-color:#e0ffff;
$tertiary-color:#01ffff;